<!-- 此页面将所有的直播显示出来-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>LiveVideo</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style-starter.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">


</head>

<body>


<!-- header -->
<header id="site-header" class="w3l-header fixed-top">
    <!--/nav-->
    <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
        <div class="container">
            <h1><a class="navbar-brand" href="index.html"><span class="fa fa-play icon-log"
                                                                aria-hidden="true"></span>
                ProShowz </a></h1>
            <!-- if logo is image enable this
                    <a class="navbar-brand" href="#index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <span class="fa icon-expand fa-bars"></span>
                <span class="fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/video/upload">上传视频</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/genre">精简</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact" th:href="${session.userType == 1}">Contact</a>
                    </li>
                </ul>

                <!--/search-right-->
                <!--/search-right-->
                <div class="search-right">
                    <a href="#search" class="btn search-hny mr-lg-3 mt-lg-0 mt-4" title="search">Search <span
                            class="fa fa-search ml-3" aria-hidden="true"></span></a>
                    <!-- search popup -->
                    <div id="search" class="pop-overlay">
                        <div class="popup">
                            <form action="#" method="post" class="search-box">
                                <input type="search" placeholder="Search your Keyword" name="search"
                                       required="required" autofocus="">
                                <button type="submit" class="btn"><span class="fa fa-search"
                                                                        aria-hidden="true"></span></button>
                            </form>
                            <div class="browse-items">
                                <h3 class="hny-title two mt-md-5 mt-4">Browse all:</h3>
                                <ul class="search-items">
                                    <li><a href="genre.html">Action</a></li>
                                    <li><a href="genre.html">Drama</a></li>
                                    <li><a href="genre.html">Family</a></li>
                                    <li><a href="genre.html">Thriller</a></li>
                                    <li><a href="genre.html">Commedy</a></li>
                                    <li><a href="genre.html">Romantic</a></li>
                                    <li><a href="genre.html">Tv-Series</a></li>
                                    <li><a href="genre.html">Horror</a></li>
                                    <li><a href="genre.html">Action</a></li>
                                    <li><a href="genre.html">Drama</a></li>
                                    <li><a href="genre.html">Family</a></li>
                                    <li><a href="genre.html">Thriller</a></li>
                                    <li><a href="genre.html">Commedy</a></li>
                                    <li><a href="genre.html">Romantic</a></li>
                                    <li><a href="genre.html">Tv-Series</a></li>
                                    <li><a href="genre.html">Horror</a></li>
                                </ul>
                            </div>
                        </div>
                        <a class="close" href="#close">×</a>
                    </div>
                    <!-- /search popup -->
                    <!--/search-right-->
                </div>
            </div>
        </div>
    </nav>
    <!--//nav-->
</header>
<!-- //header -->
<br>
<br>
<br>

<!--**********************************
    Content body start
***********************************-->

 <div id="roomId" hidden th:text="${roomId}"></div>
<div id="userId" hidden th:text="${userId}"></div>
<!-- 本地直播 -->
<div align="center">
<div id="local"  style="width: 1200px;height: 750px;"></div>
    <button type="button" class="btn btn-primary">退出直播</button>
</div>



<script src="/js/lib-generate-test-usersig.min.js"></script>
<script src="/js/trtc.js"></script>
<script>
    //腾讯云的appid和密钥
    const SDKAPPID= 1400609763;
    const SECRETKEY ='8130ac7402f3d138976beab93ac673280888aa284c534c48eeadcea7d23cf724';

    //随机生成用户id
    // const userId =parseInt(1000*Math.random()).toString()
    var userId=document.getElementById("userId").innerHTML;
    console.log("随机的用户ID",userId)

    //有效时间
    const EXPIRETIME=604800;

    //获取用户的签名userSig
    const generator=new LibGenerateTestUserSig(SDKAPPID,SECRETKEY,EXPIRETIME)
    const userSig=generator.genTestUserSig(userId)

    //创建视频流客户端对象
    const client =TRTC.createClient({
        mode:'rtc',
        sdkAppId:SDKAPPID,
        userId,
        userSig
    })

    //进入房间
    let roomId = parseInt(1)
    // let roomId= Number(document.getElementById("roomId").innerHTML);
    client.join({roomId}).catch((error)=>{
        console.log("进入房间失败",error)
    }).then(()=>{
        console.log('进入房间成功');
        //开始直播

        //创建本地音视频流
        const localStream=TRTC.createStream({
            userId,
            audio:true,//音频
            video:true//视频
        })

        //初始化本地的音视频流
        localStream.initialize().catch(()=>{
            console.log('初始化本地流失败',error)
        }).then(()=>{
            console.log('初始化本地流成功')

            //将本地视频流渲染到页面上
            //将div的名称以字符串传入play
            localStream.play('local')

            //将本地的视频流发布出去
            client.publish(localStream).catch((error)=>{
                console.log("音视频发布失败",error)
            }).then(()=>{
                console.log("音视频发布成功")
            })

        })

    })

    //订阅的远端视频流
    client.on('stream-added',(event)=>{
        //获取远端视频流
        const remoteStream=event.stream
        console.log('远端视频get成功'+remoteStream.getId())

        //订阅远端视频流
        client.subscribe(remoteStream)
    })

    //订阅到的远端视频流监听
    client.on('stream-subscribed',(event)=>{
        const remoteStream=event.stream
        console.log('远端视频get'+remoteStream.getId())
        remoteStream.play(remote)
    })

    console.log(client)

</script>
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="/plugins/common/common.min.js"></script>
    <script src="/js/custom.min.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/gleek.js"></script>
    <script src="/js/styleSwitcher.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</div>
</body>

</html>