<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash;<div th:text="${list.get(0)}">&ndash;&gt;-->


<!--&lt;!&ndash;<span th:if="${product.price lt 100}" class="offer">&ndash;&gt;-->
<!--    <div th:text="${name}"></div>-->

<!--<div th:text="${msg}"></div>-->

<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--<div>-->
<!--<form th:action="@{/text/1}"  method="post">-->

<!--    <input type="text" th:field="*{name}"/>-->
<!--    <input type="text" th:field="*{msg}"/>-->

<!--    <input type="submit"/>-->
<!--</form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<h1>hello</h1>

