<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="D:\jilijili-springboot\jilijili\src\main\java\com\example\jilijili\jquery-3.6.0.min.js">
    function send1(){
        const temp = $.ajax({
            type: 'POST',
            url: "zjptest",
            dataType: "json",
            data: {
                name: "zjp",
                id: 1
            }
        });
    }
</script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css">
    <link rel="stylesheet" type="text/css" href="/css/demo.css">
    <script src="https://cdn.jsdelivr.net/npm/flv.js/dist/flv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js/dist/hls.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dashjs/dist/dash.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pearplayer"></script>
    <script src="/js/DPlayer.min.js"></script>
</head>
<body>

<button class= "top" onclick=send1() >F</button>

</body>
</html>
